:root {
    --text: #1c070b;
    --background: #fbf1f4;
    --primary: #ce3e63;
    --secondary: #e3c190;
    --accent: #dacd6d;
}

body {
    font-family: 'Arial', sans-serif;
    color: var(--text);
    background-color: var(--background);
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: var(--primary);
    font-size: 2.5em;
    margin-bottom: 20px;
}

h3 {
    color: var(--secondary);
    font-size: 1.5em;
    margin-bottom: 10px;
}

#generator-form {
    background-color: var(--primary);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto 30px auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.1em;
    color: var(--background);
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--accent);
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
    color: var(--text);
}

button {
    background-color: var(--accent);
    color: var(--text);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

button:hover {
    background-color: var(--secondary);
}

#number-lists {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.number-list {
    margin: 0 20px;
    width: 300px;
}

h2 {
    color: var(--primary);
    font-size: 1.8em;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    background-color: var(--secondary);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

ul li {
    background-color: var(--accent);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: var(--text);
    font-size: 1.1em;
}
